<div class="form-new">
  <h2>Add a Recipe to <%= @category.name %></h2>

  <%= simple_form_for [@category, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.association :recipe, prompt: "Select a recipe", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.input :comment, placeholder: "Your comment here...", input_html: { class: "form-control" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Add Recipe", class: "btn btn-warning" %>
    </div>
  <% end %>

  <%= link_to "â† Back to Category", category_path(@category), class: "btn btn-outline-secondary mt-3" %>
</div>
