<h1><strong>Add Recipe to <%= @category.name %></strong></h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.association :recipe %>
  <%= f.input :comment %>
  <%= f.button :submit, "Add Bookmark", class: "btn btn-outline-success" %>
<% end %>

<%= link_to "Back to Category", category_path(@category), class: "btn btn-outline-primary" %>
